* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	overflow: hidden;
	font-family: sans-serif;
}

.app {
	position: relative;
	width: 100vw;
	height: 100vh;
}

.sky {
	position: absolute;
	inset: 0;
	height: 85%;
	background: linear-gradient(to bottom, #65c0fc, #81d5ff, #92e0ff);
}

.ocean {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 15%;

	background: linear-gradient(to bottom, #69d0fc, #369ac9, #1b8abd);
}

.island {
	position: absolute;
	left: 90%;
	bottom: 8%;

	transform: translateX(-50%);
}

.rock {
	width: 140px;
	height: 55px;

	background: #4a4a4a;

	border-radius: 50% 50% 50% 50%;
}

.lighthouse {
	position: absolute;

	left: 50%;
	bottom: 40px;

	transform: translateX(-50%);
}

.tower {
	width: 12px;
	height: 48px;
	background: white;
	border-radius: 3px;
}

.roof {
	width: 18px;
	height: 10px;

	background: crimson;

	clip-path: polygon(50% 0, 100% 100%, 0 100%);

	margin-left: -3px;
}

.dashboard {
	position: relative;
	z-index: 5;

	padding: 40px;
}

h1 {
	color: white;
	mix-blend-mode: overlay;
}

p {
	color: white;
}
