@import 'tailwindcss';

* {
	margin: 0;
	box-sizing: border-box;
}

body {
	overflow: hidden;
	font-family: sans-serif;
}

.app {
	position: relative;
	width: 100vw;
	height: 100vh;
	background-image: url('/src/assets/image.jpg');
}

h1 {
	color: white;
	mix-blend-mode: overlay;
	font-size: 3rem;
}

p {
	color: white;
}

.dictionary-box p {
	color: black !important;
}
