@import 'tailwindcss';

* {
	margin: 0;
	box-sizing: border-box;
}

body {
	overflow: hidden;
	font-family: sans-serif;
}

.app {
	position: relative;
	width: 100vw;
	height: 100vh;
	background-image: url('/src/assets/image.jpg');
}

h1 {
	color: white !important;
}

.main-panel p {
	color: white;
}

.dictionary-box p {
	color: black !important;
}

p {
	margin: 0 !important;
	color: white;
}

b {
	color: white;
}

.circled-number {
	font-size: var(--text-6xl); /* 3.75rem (60px) */
	line-height: var(--text-6xl--line-height); /* 1 */
}